/** variables */

:root{
--black:#1A2130;
--orange:#F4A261;
--green:#81A263;
--blue:#83B4FF;
--grey:#EEEDEB;
}


/** properties */
.entire-cal{
    width: 60svw;
    height: 90svh;
    border: 0.5rem solid black;
}

.operator{
    background: var(--orange);
}

.num{
    background: var(--green);
}
.numMan{
    background: var(--blue);
}

.screen{
    border: 0.5rem solid black;
    background: var(--grey);
    padding: 0.3rem;

}

.row div{
    border-radius: 0.5rem;
    margin: 0.3rem;
}
.row{
    background: var(--black);
}

div{
    font-size: 130%;
}



/** flexbox */

body{

}

.entire-cal{
    display: flex;
    flex-flow: column nowrap;
}

.row{
    flex: 1;
    display: flex;
}
.screen{
    flex: 1.5;
    display: flex;
    justify-content: right;
    align-items: center;
}
.row div{
    flex:1;
}

#zero{
    flex: 2;
}

.operator{
    display: flex;
    align-items: center;
    justify-content: center;
}
.num{
    display: flex;
    align-items: center;
    justify-content: center;
}
.numMan{
    display: flex;
    align-items: center;
    justify-content: center;
}